@page "/"
@page "/login"
@layout Layout.LoginLayout

@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient

<style>
    body { 
        background-image: url("@backgroundImageUrl");
        background-size: cover;
    }
</style>

<MudText Typo="Typo.h4" GutterBottom="true">Sign In</MudText>

<MudText>Don't have an account? <MudLink Href="/register">Sign Up</MudLink></MudText>

<MudTextField T="string" Value="@("staff@mudblazor.com")" Label="E-mail" Variant="Variant.Outlined" Class="my-6"></MudTextField>

<MudTextField @bind-Value="@Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />

<div Class="d-flex justify-space-between align-center">
    <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
    <MudLink Href="/pages/authentication/forgot-password">Forgot password?</MudLink>
</div>


<MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/personal/dashboard" Size="Size.Large" FullWidth="true">Sign In</MudButton>

@code {
    string Password { get; set; } = "BMWvBPJXZu";

    bool PasswordVisibility;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void TogglePasswordVisibility()
    {
        @if (PasswordVisibility)
        {
            PasswordVisibility = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            PasswordVisibility = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetBingWallpapers();
        await SetBackgroundImage();
    }

    public record BingPhoto(string url);
    private List<BingPhoto> bingPhotos = null;
    private string backgroundImageUrl = "";

    private async Task GetBingWallpapers()
    {
        try
        {
            var response = await HttpClient.GetAsync("https://api45gabs.azurewebsites.net/api/sample/bingphotos");
            if (response.IsSuccessStatusCode)
            {
                var jsonPhotos = await response.Content.ReadAsStringAsync();
                bingPhotos = JsonSerializer.Deserialize<List<BingPhoto>>(jsonPhotos);
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "bingphotos", jsonPhotos);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching Bing photos: {ex.Message}");
        }

        if(bingPhotos == null)
        {
            var jsonPhotos = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "bingphotos");
            if (!string.IsNullOrEmpty(jsonPhotos))
            {
                bingPhotos = JsonSerializer.Deserialize<List<BingPhoto>>(jsonPhotos);
            }
        }

    }

    private async Task SetBackgroundImage()
    {
        var imageUrl = bingPhotos?.FirstOrDefault()?.url ?? "/th?id=OHR.BurleighHeads_EN-US4425800469_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp";
        backgroundImageUrl = $"https://bing.com{imageUrl}";
    }
    
}