@page "/songlist"
@attribute [Authorize]

@using BlazorNet8CleanArch.Infrastructure.Constants

@inject HttpClient httpClient

@inject ILocalStorageService _localStorage
@inject ISnackbar snackBar
@inject IDialogService DialogService
@inject IJSRuntime jsRuntime

<style>
    .action-button {
        visibility: hidden;
    }
    tr:hover .action-button{
        visibility: visible;
    }
</style>

<MudTable T="SongModel" ServerData="@(new Func<TableState, Task<TableData<SongModel>>>(GetServerData))" Elevation="25" Hover="true" @bind-song="song" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h4" Class="mt-2">Song List</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <MudFab OnClick="@(()=>CreateNew())" Color="Color.Primary" Class="mt-4 mr-n2" Icon="@Icons.Material.Filled.Add" Size="Size.Large" IconSize="Size.Medium" />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Title</MudTh>
        <MudTh>Artist</MudTh>
        <MudTh>Release Year</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Artist">@context.Artist</MudTd>
        <MudTd DataLabel="Year">@context.ReleaseYear</MudTd>
        <MudTd DataLabel="">
            <div class="ma-n4 action-button">
                <MudFab OnClick="@(()=>Edit(@context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                <MudFab OnClick="@(()=>Delete(@context))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudDialog @bind-IsVisible="addEditDialogVisible" Options="addEditDialogOptions" DefaultFocus="DefaultFocus.Element">
    <TitleContent>
        <MudText Typo="Typo.h6" Color="Color.Primary">
            <MudIcon Icon="@Icons.Material.Filled.Edit" /> @(song.Id == null ? "Add" : "Edit") Song
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField @bind-Value="song.Id" Label="Song ID" Variant="Variant.Text" Margin="Margin.Normal" Disabled="true"></MudTextField>
        <MudTextField @bind-Value="song.Title" Label="Title" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
        <MudTextField @bind-Value="song.Artist" Label="Artist" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
        <MudTextField @bind-Value="song.ReleaseYear" Label="Release Year" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => addEditDialogVisible = false)">Cancel</MudButton>
        <MudLoadingButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" LoadingAdornment="Adornment.Start" @bind-Loading="isSubmitting" OnClick="() => Save()">Save</MudLoadingButton>
    </DialogActions>
</MudDialog>

@code {
    private List<SongModel> pagedData = new();
    private SongModel song = new();
    private MudTable<SongModel> table;
    private int totalItems;
    private string searchString = null!;

    private bool addEditDialogVisible;
    private DialogOptions addEditDialogOptions = new() { FullWidth = true, DisableBackdropClick = true, CloseButton = true };

    bool isSubmitting = false;

    /// <summary>
    /// Here we simulate getting the paged, filtered and ordered data from the server
    /// </summary>
    private async Task<TableData<SongModel>> GetServerData(TableState state)
    {       
        var response = await httpClient.GetFromJsonAsync<SongDTO>($"https://api45gabs.azurewebsites.net/api/Song?page={state.Page + 1}&pageSize={state.PageSize}&search={searchString}");

        //songs = response.items;

        pagedData = response!.items; //.Skip(state.Page * state.PageSize).Take(state.PageSize).ToList();
        state.Page = response!.pageNumber;
        state.PageSize = response!.pageSize;
        return new TableData<SongModel>() { TotalItems = response!.totalItemCount, Items = pagedData };
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }

    private void CreateNew()
    {
        song = new();
        addEditDialogVisible = true;
    }

    private void Edit(SongModel s)
    {
        if (s is not null)
        {
            song = pagedData.Single(x => x.Id == s.Id);
            addEditDialogVisible = true;            
        }        
    }

    private async Task Save()
    {
        isSubmitting = true;
        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", await GetToken());
        var content = new StringContent(JsonSerializer.Serialize(song), System.Text.Encoding.UTF8, "application/json");
        HttpResponseMessage response;
        if (song.Id == null)
            response = await httpClient.PostAsync("https://api45gabs.azurewebsites.net/api/Song", content);
        else
            response = await httpClient.PutAsync("https://api45gabs.azurewebsites.net/api/Song", content);

        isSubmitting = false;

        if (response.IsSuccessStatusCode)
        {
            addEditDialogVisible = false;
            snackBar.Add("Song successfully saved.", Severity.Success);            
            await table.ReloadServerData();
        }
        else
        {
            snackBar.Add("Failed to save song.", Severity.Error);
        }
        
    }

    private async void Delete(SongModel s)
    {
        if (s.Id == null) return;

        var parameters = new DialogParameters<MyMudDialog>();
        parameters.Add(x => x.ContentText, "Do you really want to delete this record? This process cannot be undone.");
        parameters.Add(x => x.ButtonText, "Delete");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall , Position = DialogPosition.TopCenter};

        var dialog = await DialogService.ShowAsync<MyMudDialog>($"Delete | " + string.Concat($"{s.Title} - {s.Artist}".Take(25)) + "...", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            var response = await httpClient.DeleteAsync($"https://api45gabs.azurewebsites.net/api/Song/{s.Id}");
            snackBar.Add("Customer Deleted.", Severity.Warning);
            await table.ReloadServerData();
        }
    }

    private async Task<string?> GetToken()
    {
        try
        {
            return await _localStorage.GetItemAsStringAsync("jwtToken");
            //return await jsRuntime.InvokeAsync<string>("localStorage.getItem", "jwtToken");
        }
        catch
        {
            return StorageConstants.Local.JWTToken;
        }
    }

    public class SongDTO
    {
        public int pageNumber { get; set; }
        public int pageSize { get; set; }
        public int totalItemCount { get; set; }
        public int totalPageCount { get; set; }
        public List<SongModel> items { get; set; }
    }

    public class SongModel
    {
        public int? Id { get; set; } = null;
        public string Title { get; set; }
        public string Artist { get; set; }
        public string Duration { get; set; }
        public int PeakChartPosition { get; set; }
        public int ReleaseYear { get; set; }
        public string RecordLabel { get; set; }
        public string Genre { get; set; }
    }
}
